// Styles for index.2.html

.header {

}

.logo {
  display: flex;
  align-items: center;
}

.logo-figure {
  margin-right: 1rem;
}

.logo-text {

}

/* extending Basscss' _base_typography.scss */
.serif {
  font-family: $serif-font-family;
}

.sans {
  font-family: $sans-font-family;
}

.mono {
  font-family: $monospace-font-family;
}

/* extending Basscss' _utility-white-space.scss */
.pbone {
  padding-bottom: $space-one;
}

.pbtwo {
  padding-bottom: $space-two;
}

.pbthree {
  padding-bottom: $space-three;
}

.pbfour {
  padding-bottom: $space-four;
}

.pbfive {
  padding-bottom: $space-five;
}

.pb1 {
  padding-bottom: $space-1;
}

.pb2 {
 padding-bottom: $space-2; 
}

.pb3 {
  padding-bottom: $space-3;
}

.pb4 {
  padding-bottom: $space-4;
}

.pb5 {
  padding-bottom: $space-5;
}

.plone {
  padding-left: $space-one;
}

.pltwo {
  padding-left: $space-two;
}

.plthree {
  padding-left: $space-three;
}

.plfour {
  padding-left: $space-four;
}

.plfive {
  padding-left: $space-five;
}

.pl1 {
  padding-left: $space-1;
}

.pl2 {
  padding-left: $space-2;
}

.pl3 {
  padding-left: $space-3;
}

.pl4 {
  padding-left: $space-4;
}

.pl5 {
  padding-left: $space-5;
}
/* Philip Walton's Solved By Flexbox Grid System
 * with some modification to the specified width flex items
 */
.Grid,
.Grid--column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid--column {
  flex-direction: column;
}
.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Grid--flexCells > .Grid-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.Grid--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.Grid--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.Grid--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.Grid-cell--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Grid-cell--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.Grid-cell--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%}

/* begin modification of solved by flexbox's grid flex items widths */

.Grid-cell--50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%}
.Grid-cell--33 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%}
.Grid-cell--25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%}
@media (min-width:24em) {
  .small-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .small-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%}
  .small-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%}
  .small-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%}
  .small-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
@media (min-width:36em) {
  .med-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .med-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%}
  .med-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%}
  .med-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%}
  .med-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}
@media (min-width:48em) {
  .large-Grid--fit>.Grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .large-Grid--full>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%}
  .large-Grid--1of2>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%}
  .large-Grid--1of3>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%}
  .large-Grid--1of4>.Grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
}

.Grid--gutters {
  margin-left: -1em;
}
.Grid--gutters > .Grid-cell {
  padding-left: 1em;
}
.Grid--guttersLarge {
  margin-left: -1.5em;
}
.Grid--guttersLarge > .Grid-cell {
  padding-left: 1.5em;
}
.Grid--gutters2x {
  margin-left: -2em;
}
.Grid--gutters2x > .Grid-cell {
  padding-left: 2em;
}
.Grid--gutters3x {
  margin-left: -3em;
}
.Grid--gutters3x > .Grid-cell {
  padding-left: 3em;
}
@media (min-width:24em) {
  .small-Grid--gutters {
    margin-left: -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .small-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .small-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .small-Grid--gutters2x {
    margin-left: -2em;
  }
  .small-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .small-Grid--gutters3x {
    margin-left: -3em;
  }
  .small-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}
@media (min-width:36em) {
  .med-Grid--gutters {
    margin-left: -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .med-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .med-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .med-Grid--gutters2x {
    margin-left: -2em;
  }
  .med-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .med-Grid--gutters3x {
    margin-left: -3em;
  }
  .med-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}
@media (min-width:48em) {
  .large-Grid--gutters {
    margin-left: -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding-left: 1em;
  }
  .large-Grid--guttersLarge {
    margin-left: -1.5em;
  }
  .large-Grid--guttersLarge > .Grid-cell {
    padding-left: 1.5em;
  }
  .large-Grid--gutters2x {
    margin-left: -2em;
  }
  .large-Grid--gutters2x > .Grid-cell {
    padding-left: 2em;
  }
  .large-Grid--gutters3x {
    margin-left: -3em;
  }
  .large-Grid--gutters3x > .Grid-cell {
    padding-left: 3em;
  }
}

.justify-s-around {
  justify-content: space-around;
}

.justify-s-between {
  justify-content: space-between;
}

.justify-center {
 justify-content: center; 
}